@page
@model TasteRestaurant.Pages.FoodTypes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<br />
<h2>Delete fopod type</h2>
<hr />
<form method="post">
    <div class="form-border">
        <fieldset disabled>
            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="FoodType.Name" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="FoodType.Name" class="form-control" />
                </div>
            </div>
        </fieldset>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-sm btn-danger"/>
        <a asp-page="Index" class="btn btn-sm btn-success">Back to list</a>
    </div>
</form>